.home_cnt div {
  position: relative;
}

.home_cnt div h1 {
  position: absolute;
  top: 50px;
  width: 100%;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

#atop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#atop div {
  background-repeat: no-repeat;
  background-position-y: 131px;
}

#a1 {
  margin-top: -120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.8fr;
      grid-template-columns: 1fr 1.8fr;
  grid-column-gap: 50px;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffc046;
  padding: 20px 40px 20px 40px;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

#a1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 130px;
}

#a1 div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  padding: 10px;
}

#a1 div span h6 {
  margin-left: 10px;
  font-size: 19px;
}

#a2 {
  padding: 17px;
  padding-bottom: 40px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 7px rgba(187, 187, 187, 0.233);
          box-shadow: 2px 2px 7px rgba(187, 187, 187, 0.233);
}

#a2 h4 {
  margin: 20px 0 30px 0;
  font-family: Noto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

#a2 p {
  padding: 6px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: gray;
}

#a2 div > a {
  margin-top: 50px;
  color: #630600;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

#a3 {
  padding: 30px 0 30px 0;
}

#a3 h4 {
  text-align: center;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

#a3 #a3_a {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#a3 #a3_a div {
  height: 366px;
}

#a3 #a3_a div img {
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#a3 #a3_a div span {
  position: absolute;
  z-index: 4;
  color: rgba(192, 192, 192, 0.795);
  top: 78%;
  left: 10px;
}

#a3 #a3_a div span h4 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

#a3 #a3_a div span p {
  padding-right: 10px;
  margin-top: 10px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 8.96326px;
  line-height: 12px;
}

#a3_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 37px 20px 22px 20px;
}

#a3_b h4 {
  margin-bottom: 14px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

#a3_b div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  height: 200px;
}

#a3_b div span {
  min-width: 225px;
  margin-right: 20px;
  padding: 11.4px 27px 11.4px 39px;
  border: solid rgba(0, 0, 0, 0.171) thin;
  min-height: 110px;
  -webkit-box-shadow: 3.672px 3.672px 18.36px rgba(0, 0, 0, 0.25);
          box-shadow: 3.672px 3.672px 18.36px rgba(0, 0, 0, 0.25);
}

#a3_b div span h6 {
  text-align: left;
  font-size: 15px;
  line-height: 20px;
}

#a3_b div span p {
  margin-top: 20px;
  color: #595656;
  font-size: 12px;
  line-height: 16px;
  max-width: 320px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}
/*# sourceMappingURL=home.css.map */