.cnt{
  overflow: hidden;
  
}
.sec1 {
  position: relative;
}
.sec1 > p {
  position: absolute;
  top: 1%;
  text-align: center;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color: rgba(117, 117, 117, 1);
  width: 100%;
}
.sec1 > p > img {
  opacity: 78%;
  height: 1em;
}
#heading {
  position: absolute;
  width: 100%;
  padding: 0 min(8vw ,154px);
  /* global change */
  top: 6vw;
  text-align: left;
}
#heading > h1 {
  font-weight: 570;
  font-size: max(min(4vw, 64px), 18px);
  line-height: max(min(5.2vw, 78px), 25px);
}

#heading > h1 > span {
  color: #ffc046;
}
.sec1_img {
  width: 60vw;
  margin-left: auto;
  background-size: 57vw;
  background-position: right;
  background-repeat: no-repeat;
}
.sec1_img > img {
  width: inherit;
  object-fit: contain;
}
.sec2 {
  position: relative;
  z-index: 1;
  margin-top: min(-17vw, -185px);
  background-color: #ffc046;
  display: grid;
  justify-content: space-evenly;
  padding: clamp(30px,5vw, 120px) clamp(20px,3.2vw, 18px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  filter: drop-shadow(2px 2px 15px rgba(95, 93, 93, 0.3));
}
.sec2 > div > span {
  display: flex;
  gap: 1.5vw;
  align-items: baseline;
  justify-content: center;
  font-weight: 599;
  font-size: max(min(3.7vw, 72px), 18px);
  line-height: min(5vw, 1.3em);
}
.sec2 > div > span>p {padding-bottom:.2em}
.sec2 > div > span > img {
  height: max(min(4vw, 1em), 32px);
  object-fit: contain;
}
.sec2 > div > p {
  width: 12ch;
  margin: auto;
  text-align: center;
  padding: 0.6vw 0.2vw;
  font-weight: 600;
  font-family: Nunito Sans;
  font-size: max(min(1.3vw, 51px), 12px);
}
.sec2 > div:nth-child(even) > p {
  width:20ch}
.sec2 > div:nth-child(1) > p {
  width:10ch}
.collage_cnt {
  position: relative;
}
.collage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.collage > div,
.collage > div > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.collage > div > div > img {
  width: inherit;
  object-fit: contain;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 43.75%,
    rgba(0, 0, 0, 0.87) 100%
  );
  z-index: 2;
}
#kid {
  text-shadow: 0 1px 0 black;
  position: absolute;
  color: rgba(224, 223, 223, 0.795);
  bottom: 3%;
  font-size: max(min(1.27vw, 24px),12px);
  right: 8%;
}
#founder {
  text-shadow: 0 1px 0 black;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-family: Nunito Sans;
  font-style: normal;
  top: 76%;
  left: 10%;
}
#founder > h5 {
  font-size: max(min(1.7vw, 40px), 16px);
  text-shadow: 0 0 15px black;
  font-weight: 500;
  margin-bottom: min(2vw, 20px);
}
#founder > span > p {
  font-size: max(min(1.3vw, 40px), 9px);
  font-weight: 500;
}
.collage > div:nth-child(even) > div > #overlay {
  background: linear-gradient(
    180deg,
    rgba(149, 0, 36, 0.16) 55.73%,
    rgba(0, 0, 0, 0.87) 100%
  );
}
.deskview {
  color: white;
  position: absolute;
  bottom: 16.5%;
  z-index: 3;
  padding: 0 min(8vw ,154px);
}
.deskview > h2 {
  font-family: Noto Serif;
  font-size: max(min(2.48vw, 48px),24px);
  line-height: 2.3em;
  font-weight: 500;
  /* margin-bottom: min(2vw, 30px); */
  text-align: left;
}
.deskview > p {
  font-family: Nunito Sans;
  font-size: max(min(1.27vw, 24px),14px);
  font-weight: 500;
  text-align: left;
  margin-bottom: min(4.5vw,92px);
}
.deskview > a,.sec5_head>a {
  color: white;
  font-family: Poppins;
  font-size: max(min(1.2vw, 27px),14px);
  font-weight:500;
  border: 2px solid white ;
  text-decoration: none;
  padding: 8px 46px;
  background: rgba(99, 6, 0, 1);
}
.deskview > a:hover {
  opacity: 1;
}
.sec4 {
  padding: 40px  5vw max(min(133px,8vw),20px);
  box-shadow: 4px 4px 15px rgba(95, 93, 93, 0.3);
  margin: auto;
  position: relative;
}
.head>h2 {
  padding: 7vw 8vw;
  font-family: Noto Serif;
  font-weight:500;
  font-size:max(min(2.48vw, 48px),20px);
}
#dr{
  width: 82%;
  margin: auto;
}
#dr> aside {
  width:23vw;
  min-width: 270px;
  max-width: 390px;
  height:max(8vw,100px);
  position: relative;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.123) thin;
  padding: 2vw;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}
#dr>aside > h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-size: max(1.2vw,14px);
  font-weight: 600;
}
#dr> aside > p {
  margin-top:10px;
  color: rgba(89, 86, 86, 1);
  font-size: max(0.8vw,12px);
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
}
.sec5{
  padding: 5vw min(13vw ,272px);
  background-color: white;
}
.sec5_head{
  display:flex;
 align-items: center;
 justify-content:space-between;
}
.sec5_head>h2{
  font-size: max(min(2.48vw, 48px),20px);
  font-weight: 500;
}

.sec5_head>a{
  font-weight: 600;
  border-radius: 2px;
  background-color:white;
  color: rgba(99, 6, 0, 1);
  border-color:rgba(99, 6, 0, 1); ;
}
.sec5_img{
  margin-top: 8vw;
  display: flex;
  justify-content: center;
  gap: 3%;
}
.sec5_img>span{
  width:100%;
  max-width: 700px;
}

.sec5_img>span>img{
  width: inherit;
  object-fit: contain;
}
.sec5_img>span>p{
  padding-top: 1.5vw;
  font-size: max(min(1.23vw, 24px),16px);
  font-weight: 600;
  color: black;
  font-family: Nunito Sans;
}
.sec5_img>span>p>b{
  font-weight: 900 !important;
  font-size: max(min(1.4vw, 28px),18px) ;
  color: #000;
}
/*////////////////////////////> mob components </////////////////////////////*/
.clg_mob_header,
.clg_mob_footer {
  padding: 25px 0;
  text-align: center;
}
.clg_mob_header > h2 {
  font-size: 20px;
  font-family: Noto Serif;
  font-weight: normal;
}
.clg_mob_footer > a {
  color: rgba(99, 6, 0, 1);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
#tr{display:none;}
.slider{
  border: solid rgba(0, 0, 0, 0.144) thin;
  background-color:white;
  width: 90%;
  margin: 30px auto 70px;
  max-width: 400px;
  height: 180px;
  padding: 20px 2em;
  text-align: left;
 box-shadow: 2px 2px 15px rgba(95, 93, 93, 0.3);
}
.slider>h5{
   color: black;
  font-size: max(0.8vw,15px);
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
}
.slider>p{
  margin-top: 2em;
  color: rgba(89, 86, 86, 1);
  font-size: max(0.8vw,12px);
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
}
/*////////////////////////////> mob css </////////////////////////////*/

@media (max-width: 650px) {
  #heading {
    padding: unset;
    text-align: center;
    margin: auto;
  }

  .sec1_img {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-position: center min(30vw, 150px);
    background-size: min(90vw, 500px);
    /* background-position: ; */
  }
  .sec2 {
    margin-top: min(-17vw, -136px);
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
  }
  .sec2 > div {
    margin-right: 20px;
  }
  .sec2 > div > span {
    justify-content: center;
    gap: 10px;
    font-weight:600;
    align-items: center;
  }
  .sec2 > div > p {
    margin-top: 10px;
    padding-top: 6px;
    margin: auto;
    text-align: center;
  }
  .sec4 > div > h2 {
    font-weight: 500;
    font-family: Noto Serif;
    text-align: center;
  }
  .sec3{
    filter: drop-shadow(2px 2px 15px rgba(95, 93, 93, 0.3));
  }
  .sec4{
    padding:unset ;
    background-color:white;
    border: solid rgba(0, 0, 0, 0.082) thin; 
    filter: drop-shadow(2px 2px 15px rgba(95, 93, 93, 0.3));

  }
  .sec5{
    padding: 5vw 6vw;
    box-shadow: 2px 2px 15px rgba(95, 93, 93, 0.3);
  }
  .sec5_head{
    justify-content:center;
  }
  .sec5_img{
    flex-direction: column;
    margin-top: 10px;
  }
  .sec5_img>span{
    margin-top:10px;
  }
  .sec5_img>span>p{
    color: rgba(89, 86, 86, 1);
  }
  .sec5_img>span>div{
    text-align: center;
    padding:30px 0;
  }
  .sec5_img>span>div>a{
    color: rgba(99, 6, 0, 1);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  }
  .sec5_img>span>h5{
    font-family: Nunito Sans;
font-style: normal;
font-weight: 590;
font-size: 18px;
line-height: 55px;
  }
  .sec5_head>h2{
    font-weight:400 ;
  }
  #founder >h5,#founder >span>p{
    font-weight: 400;
  }
}
@media (max-width:900px) {

#dr{display: none;}
#tr{display: unset}

}