.MoblieNav {
  display: none;
}

@media (max-width: 900px) {
  .MoblieNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.Menu, .MenuOpen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  z-index: 25;
}

.Menu:hover, .MenuOpen:hover {
  cursor: pointer;
}

#Icon1,
#Icon2,
#Icon3 {
  color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: -9px 0;
  padding: 0;
  width: 25px !important;
}

.MenuOpen > #Icon1 {
  -webkit-transform: rotate(45deg) translate(5.5px, 6.5px);
          transform: rotate(45deg) translate(5.5px, 6.5px);
}

.MenuOpen > #Icon2 {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.MenuOpen > #Icon3 {
  -webkit-transform: rotate(-45deg) translate(4px, -4.5px);
          transform: rotate(-45deg) translate(4px, -4.5px);
}

.HamMenu {
  position: fixed;
  -webkit-box-shadow: 5px 1px 20px #00000052;
          box-shadow: 5px 1px 20px #00000052;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 100px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  background-color: white;
  width: 250px;
  gap: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-scrollbar: auto;
}

.HamMenu .icon {
  width: 20px;
  height: 20px;
}

.HamMenu .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.HamMenu .ul .li {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.HamMenu .ul .li:last-of-type {
  margin-bottom: 0 !important;
}

.HamMenu .ul .li .Link {
  color: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 155px;
  height: auto;
}

.HamMenu .ul .li .Link .span {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.HamMenu .ul .li .Link:hover, .HamMenu .ul .li .Link:active {
  cursor: pointer;
  color: inherit;
}

.HamMenu .ulContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 50;
  margin: 0;
  padding: 0;
}

.HamMenu .ulContact .li {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.HamMenu .ulContact .li:last-of-type {
  margin: bottom 0 !important;
}

.HamMenu .ulContact .li:last-of-type .Link .span {
  width: 80px !important;
  word-break: break-word !important;
}

.HamMenu .ulContact .li .Link {
  color: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 155px;
  height: auto;
}

.HamMenu .ulContact .li .Link .span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #595656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.HamMenu .ulContact .li .Link:hover, .HamMenu .ulContact .li .Link:active {
  cursor: pointer;
  color: inherit;
}

.HamMenu .ulContact .logolink {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: none;
  margin-top: 64px;
  margin-left: 20px;
  bottom: 0;
  left: 5%;
  gap: 11px;
}

.HamMenu .ulContact .logolink #logo {
  width: 30px;
  height: 30px;
}

.HamMenu .ulContact .logolink .spanlogo {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #000000;
  word-break: break-word;
  width: 60px;
}

.HamMenu .ulContact .logolink:hover, .HamMenu .ulContact .logolink:active {
  color: inherit;
  cursor: pointer;
}
/*# sourceMappingURL=NavMobile.module.css.map */