/* --x:50px; */
.main {
  position: relative;
  width: 100%;
  margin-bottom: clamp(30px, 2.95vw + 0.02em, 60px);
  border-bottom: 1px solid white;
}

.accordion {
  display: flex;
  padding: 0 5px 0 0;
  align-items: flex-start;
  height: 30px;
  justify-content: space-between;
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 900px) {
  .accordion.active .p {
    transform: translateX(-5px);
  }
  .accordion:hover > .p {
    transform: translateX(-5px);
  }
}

.p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 530;
  color: #ffffff;
  font-size: clamp(17px, 1.667vw + 0.01em, 20px);
  line-height: clamp(21px, 1.65vw + 0.02em, 33px);
  transition: all 0.5s ease-in-out;
}

.down {
  color: #e4e4e4;
  transition: transform 0.5s ease !important;
  transform: rotate(0deg);
}

.down.active {
  color: #ffffff;
  transform: rotate(180deg);
  transition: transform 0.5s ease !important;
}

.body {
  margin-right: 1%;
  padding: 0;
  transform: translateY(-10px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out, transform 0.5s ease-in-out;
  box-sizing: border-box;
}

.body.active {
  transform: translateY(0px);
  padding: 10px 0 10px 10px;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out,  transform 0.5s ease-in-out;
  background: #9101223d;
}

.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  margin-bottom: 20px;
}

.img {
  width: clamp(20px, 1.85vw + 0.02em, 32px);
  height: clamp(20px, 1.85vw + 0.02em, 32px);
  margin-left: auto;
  margin-right: clamp(10px, 1.19vw + 0.02em, 24px);
}
