.whyus_cnt{
    background-color: white;
}
#Heading {
    width: fit-content;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(25px, 2.500vw + 0.01em, 48px);
    line-height: clamp(27px, 3.385vw + 0.01em, 65px);
    color: #000000;
    padding-top: clamp(31px, 6.771vw + 0.01em, 130px);
    padding-left: clamp(50px, 13.021vw + 0.01em, 250px);
    padding-bottom: clamp(20px, 5.990vw + 0.01em, 115px);
}

@media only screen and (max-width:650px) {
    #Heading {
        margin-left:3%;
    }
}