.footer {
  width: 100%;
  height: clamp(310px, 23.2vw + 0.02em, 450px);
  background: #950024;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
}

.footer_col_info {
  grid-column: 1/7;
  grid-row: 1/7;
  display: flex;
  justify-content: center;
}

.Logo {
  display: flex;
  flex: 0.3;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  padding-top: clamp(41px, 4.27vw + 0.01em, 85px);
  padding-right: clamp(30.5px, 3.75vw + 0.02em, 75px);
}

.Logo_img {
  width: clamp(52px, 5.95vw + 0.02em, 118px);
  height: clamp(58px, 6.35vw + 0.02em, 127px);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.footer_col_info_Main {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  padding-top: clamp(53px, 5.379vw + 0.02em, 120px);
}

.heading {
  padding: 0;
  margin: 0;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  margin-bottom: clamp(30px, 2.95vw + 0.02em, 60px);
  font-size: clamp(22px, 1.563vw + 0.01em, 30px);
  line-height: clamp(26px, 2.03vw + 0.02em, 41px);
  letter-spacing: 0.05em;
  color: #ffffff;
}
.linkheading {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-decoration: none;
}

.nav {
  display: flex;
  width: 100%;
  margin-bottom: clamp(50px, 5.25vw + 0.02em, 105px);
}

.ul {
  display: flex;
  width: 100%;
  height: auto;
  gap: clamp(20px, 1.995vw + 0.02em, 40px);
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.nav .ul .li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}

.nav .ul .li .Link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(17px, 1.25vw + 0.01em, 24px);
  line-height: clamp(21px, 1.65vw + 0.02em, 33px);
  color: #ffffff;
  transition: 0.3s ease-in-out;
  position: relative;
}

.logos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(20px, 2.865vw + 0.01em, 55px);
}

.Link_logo {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Link_logo:hover,
.footer_col_info_Main .logos .Link_logo:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.img {
  color: white;
  width: clamp(25px, 1.667vw + 0.01em, 32px);
  height: clamp(25px, 1.667vw + 0.01em, 32px);
  transition: transform 0.2s ease-in-out;
}

.img:hover {
  transform: translateY(-3px);
}

.footer_col_1 {
  grid-row: 2/7;
  grid-column: 7/10;
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.footer_col_2 {
  grid-row: 2/7;
  grid-column: 10/13;
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.footer_col_heading {
  grid-column: 1/6;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(17px, 1.25vw + 0.01em, 24px);
  line-height: clamp(22.5px, 1.875vw + 0.02em, 36px);
  color: #ffffff;
  margin-bottom: clamp(10px, 0.985vw + 0.02em, 41px);
}

.Link_address {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column: 1/6;
  grid-row: 2/5;
}

.img_loc {
  grid-column: 1/2;
  width: clamp(22px, 1.563vw + 0.01em, 30px);
  height: clamp(22px, 1.563vw + 0.01em, 30px);
  margin-right: clamp(10px, 1.19vw + 0.02em, 24px);
  transition: transform 0.3s ease-in-out;
}

.p {
  color: #ffffff;
  grid-column: 2/6;
  grid-row: 1/4;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(13px, 0.938vw + 0.01em, 18px);
  line-height: clamp(18px, 1.38vw + 0.02em, 27px);
  transition: transform 0.3s ease-in-out;
}

.contact_li {
  list-style: none;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  grid-column: 1/6;
}

.Links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  width: fit-content;
}

.Links :global(#phone),
.Links :global(#whatsApp),
.Links :global(#mail) {
  color: white;
  fill: white;
  width: clamp(22px, 1.563vw + 0.01em, 30px);
  height: clamp(22px, 1.563vw + 0.01em, 30px);
  grid-column: 1/2;
  margin-right: clamp(10px, 1.19vw + 0.02em, 24px);
  transition: transform 0.25s ease-in-out;
}

.list_items {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(13px, 0.938vw + 0.01em, 18px);
  line-height: clamp(18px, 1.38vw + 0.02em, 27px);
  color: #ffffff;
  grid-column: 2/6;
  transition: transform 0.25s ease-in-out;
  position: relative;
}

.Links:active {
  color: #ffffff;
  text-decoration: none;
}

.copyright {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.h {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 5px;
}

#copy {
  color: white;
  width: clamp(16px, 1.302vw + 0.01em, 25px);
  height: clamp(16px, 1.302vw + 0.01em, 25px);
  grid-column: 1/2;
  justify-self: end;
}

.pre {
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(10.5px, 0.83vw + 0.02em, 16px);
  line-height: clamp(11px, 1.2vw + 0.02em, 24px);
}

.prem {
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: clamp(11px, 1.2vw + 0.02em, 24px);
  grid-column: 2/13;
  justify-self: start;
}

@media (max-width: 1070px) {
  .footer_col_1 {
    padding-left: 0;
  }
}
@media (hover: hover) {
  .Title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: #ffffff;
    z-index: 1;
    border-radius: 0 50%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  .Title:hover {
    transform: translateY(-3px) scale(1.01);
  }
  .Title:hover::before {
    transform: scaleX(1);
  }
  .img_loc:hover,
  .p:hover,
  .img_loc:hover ~ .p {
    transform: translateY(-1.5px) scale(1.01);
    text-decoration: underline;
  }

  .p:hover ~ .img_loc {
    transform: translateY(-1.5px) scale(1.01);
  }

  .list_items::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: #ffffff;
    z-index: 1;
    border-radius: 0 50%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  .list_items:hover ~ :gobal(#phone),
  .list_items:hover ~ :global(#whatsApp),
  .list_items:hover ~ :global(#mail) {
    transform: translateY(-1.5px);
  }
  .list_items:hover::before {
    transform: scaleX(1);
  }
  .Links :global(#phone):hover,
  .Links :global(#whatsApp):hover,
  .Links :global(#mail):hover,
  .Links :global(#phone):hover ~ .list_items,
  .Links :global(#mail):hover ~ .list_items,
  .Links :global(#whatsApp):hover ~ .list_items,
  .Links :global(#phone):hover ~ .list_items::before,
  .Links :global(#mail):hover ~ .list_items::before,
  .Links :global(#whatsApp):hover ~ .list_items::before,
  .list_items:hover {
    transform: scale(1.02) translateY(-1.5px);
    cursor: pointer;
  }
}

/*///////////////////////////// Tablet /////////////////////////////*/
.footer.mob {
  display: flex;
  width: 100%;
  height: auto;
  background: #950024;
  padding-bottom: 50px;
}

.footer_col_info.mob {
  flex: 0.7;
}

.footer_col_info.mob .Logo {
  flex: 0.1;
}

.footer_col_info_Main.mob {
  flex: 0.8;
}

.heading.mob {
  font-size: clamp(21px, 2.439vw + 0.01em, 25px);
}

.Title.mob {
  font-size: clamp(16px, 2.049vw + 0.01em, 21px);
  white-space: nowrap;
}
@media (max-width: 684px) {
  .Title.mob {
    font-size: 14.5px;
  }
}

.logos.mob {
  gap: clamp(20px, 3.415vw + 0.01em, 35px);
}

.col_mob {
  display: flex;
  padding: 0 0 0 30px;
  padding-top: clamp(53px, 5.379vw + 0.02em, 120px);
  padding-right: clamp(8px, 6.6vw + 0.02em, 80px);
  flex: 0.3;
  flex-direction: column;
  align-items: center;
}

.footer_col_1.mob,
.footer_col_2.mob {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: clamp(35px, 10.769vw + 0.01em, 70px);
  padding-bottom: 25px;
}

.footer_col_1.mob {
  border-bottom: 1px solid white;
}

.Link_address.mob {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.img_loc.mob {
  margin: 0;
}

.contact_li.mob {
  align-items: center;
  justify-content: flex-start;
  width: min(100%, 260px);
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.Links.mob {
  gap: 20px;
  align-items: center;
  text-decoration: underline;
}

.p.mob {
  text-decoration: underline;
  line-height: clamp(21px, 4.8vw + 0.01em, 24px);
}

.Links.mob > :global(#whatsApp),
.Links.mob > :global(#phone),
.Links.mob > :global(#mail) {
  margin: 0;
  justify-self: end;
}

.list_items.mob {
  justify-self: start;
}

@media screen and (max-width: 769px) {
  .footer.mob {
    justify-content: space-evenly;
    gap: 30px;
  }

  .footer_col_info.mob {
    flex: 0.9;
  }

  .footer_col_info.mob .Logo {
    flex: 0.1;
    padding-right: 10px;
  }

  .footer_col_info_Main.mob {
    flex: 0.9;
  }

  .col_mob {
    flex: 0.1;
    padding-left: 0;
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 660px) {
  .footer.mob {
    gap: 10px;
  }
}

/* ///////////////////////////////MobView/////////////////////////////////////// */
@media screen and (max-width: 651px) {
  .footer.mob {
    flex-direction: column;
    padding: clamp(10px, 7.692vw + 0.01em, 50px);
    width: 100%;
  }

  .footer_col_info.mob {
    flex: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
  }

  .footer_col_info.mob .Logo {
    padding: 0;
  }

  .footer_col_info_Main.mob {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .heading.mob {
    font-size: clamp(20px, 5vw + 0.01em, 30px);
    margin-bottom: clamp(30px, 5.71vw + 0.01em, 40px);
    text-align: center;
  }

  .footer_col_info_Main.mob .nav .ul {
    flex-direction: column;
    gap: clamp(20px, 3.57vw + 0.02em, 25px);
  }

  .Title.mob {
    font-size: clamp(16px, 3.077vw + 0.01em, 20px);
    text-decoration: underline;
  }

  .logos.mob {
    justify-content: center;
    gap: clamp(35px, 8.57vw + 0.01em, 60px);
  }
}

.copyright_m {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.copyright.tab .h {
  margin-left: 0;
}
