.footer {
    width: 100%;
    height: 443px;
    background: #950024;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    &_col_info {
        grid-column: span 3;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .Logo {
            display: flex;
            flex: 0.3;
            height: 100%;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 85px 75px 0 0;
            .Logolink {
                color: inherit;
                cursor: pointer;
                width: auto;
                height: auto;
                text-decoration: none;
                #Logo_img {
                    width: 118px;
                    height: 126px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        &_Main {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: 0.7;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 107px;
            .heading {
                padding: 0;
                margin: 0;
                font-family: Prata;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 60px;
                font-size: 30px;
                line-height: 41px;
                letter-spacing: 0.05em;
                color: #ffffff;
            }
            .nav {
                display: flex;
                width: 100%;
                margin-bottom: 105px;
                .ul {
                    display: flex;
                    width: 100%;
                    height: auto;
                    gap: 40px;
                    margin: 0;
                    padding: 0;
                    align-items: center;
                    justify-content: flex-start;
                    .li {
                        text-decoration: none;
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        display: inline-flex;
                        align-items: flex-start;
                        justify-content: center;
                        .Link {
                            color: inherit;
                            text-decoration: none;
                            cursor: pointer;
                            .Title {
                                font-family: Nunito Sans;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 24px;
                                line-height: 33px;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            .logos {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                gap: 60px;
                .Link_logo {
                    margin: 0;
                    padding: 0;
                    color: inherit;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover,
                    &:active {
                        text-decoration: none;
                        color: inherit;
                        cursor: pointer;
                    }
                    .img {
                        color: white;
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
    &_col {
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        &:last-of-type{
            margin-left: 30px;
        }

        &_heading {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #ffffff;
            margin-bottom: 20px;
        }
        .address_body {
            display: flex;
            height: auto;
            width: 100%;
            gap: 24px;
            .img {
                margin-top: 60px;
                width: 32px;
                height: 32px;
            }
            .address {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                .p {
                    color: #ffffff;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
        }
        .copyright {
            width: auto;
            display: flex;
            margin-top: 26px;
            // position:absolute;
            // bottom:5.5%;
            #copy {
                color: white;
                width: 28px;
                height: 28px;
            }
            .pre {
                color: white;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 30px;
            .li {
                list-style: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .Link {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    text-decoration: none;
                    color: white;
                    gap: 24px;
                    .list_items {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 27px;
                        color: #ffffff;
                    }
                    &:hover,
                    &:active {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
