h1,h2,h3,h4,h5,h6,p,span{
  font-family: Noto Serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.scroll{
  cursor: pointer;
  background-image: url(../src/assets/arrow.svg);
  background-size: cover;
  position: fixed;
  height: 50px; 
  width:  50px;
  opacity: 30%;
  z-index: 9;
  border: none;
  background-color:rgba(124, 124, 124, 0.103);
  bottom:5%;
  border-radius:50%;
  left :calc(80% - 25px);
}
.scroll:hover{
  opacity: 50%;
}

::-webkit-scrollbar{display: none;}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
@media (max-width: 650px) {
  .App{background-color: white;}  
}

