.container {
  padding: 40px;
}
.heading {
  height: 200px;
  padding: 40px;
  text-align: left;
  h1 {
    font-family: Noto Serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 65px;
  }
  p {
    color: rgba(89, 86, 86, 1);
    font-family: Nunito Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
  }
}
.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.kidprofile {
  display: flex;
  justify-content:center;
  border-bottom: 1px solid rgba(149, 14, 47, 0.31);
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  img {
    max-height: 280px;
    object-fit: contain;
  }
  span {
    font-family: Gaegu;
    font-weight: 700;
    line-height: 43px;
    min-width: 100px;
    letter-spacing: 0em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6 {
      font-size: 28px;
    }
    p {
      color: rgba(89, 86, 86, 1);
      font-size: 27px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0;
    padding-bottom: 60px;
  }
  .heading {
    text-align: center;
    height:fit-content;
    padding-top:20px;
    h1{
        font-size: 28px;
        margin-bottom:20px;     
    }
    p{font-size: 16px;}
  }
  .list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .kidprofile {
      padding:20px 0 20px 0;
    width: 100%;
    flex-direction: column !important;
    align-items: center;
    border-bottom: none;
    span {
      h6 {
        font-family: Gaegu;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
      }
      p {
        display: none;
      }
    }
    img {
      width: 100%;
    }
  }
}
