.container {
  background-color: white;
  padding: 0 min(13vw, 236px);
  padding-bottom: unset;
  background-position: center;
  background-position-y: 5vw;
  background-repeat: no-repeat;
  background-size: contain;
  overflow-y: hidden;
  background-size: 70vw;
}
.heading {
  text-align: left;
  margin: 6.5vw 0;
  box-sizing: border-box;
}
.heading > h1 {
  font-family: Noto Serif;
  font-size: max(min(4vw, 48px), 28px);
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 2.552vw;
  box-sizing: border-box;
}
.heading > p {
  color: rgba(89, 86, 86, 1);
  font-family: Nunito Sans;
  font-size: max(min(1.7vw, 28px), 16px);
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: column;
}
.kidprofile {
  padding-top: 1.5vw;
  display: flex;
  justify-content: center;
  gap: 4vw;
  border-bottom: 1px solid rgba(149, 14, 47, 0.31);
}

.kidprofile:nth-child(even) {
  flex-direction: row-reverse;
}
.kidprofile > img {
  height: clamp(280px, 20vw, 410px);
  object-fit: contain;
}
.kidprofile > div {
  display: flex;
}
.kid_desc {
  max-width: 60ch;
  font-weight: 700;
  min-width: 100px;
  letter-spacing: 0em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.kid_desc > h6 {
  font-family: Gaegu;
  font-size: max(min(1.7vw, 34px), 16px);
  line-height: 1.5;
  margin: max(1.6em, 0px) 0;
}

.kid_desc > p {
  font-family: Gaegu;
  font-size: max(min(1.7vw, 34px), 16px);
  line-height: max(min(5vw, 1.3em), 29px);
  color: rgba(89, 86, 86, 1);
}

@media (max-width: 600px) {
  .container {
    padding: 0;
    padding-bottom: 60px;
    background-image: unset !important;
  }

  .heading {
    text-align: center;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list {
    width: 100%;
    display: grid;
    grid-row-gap: 30px;
  }
  .kidprofile {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    gap: unset;
    background-color: white;
    filter: drop-shadow(2px 1px 12px rgba(192, 192, 192, 0.344));
    width: 90%;
    margin: auto;
    flex-direction: column !important;
    align-items: center;
    border-bottom: none;
  }
  .kid_desc > h6 {
    margin: 6px 0;
  }

  .kidprofile > img {
    width: 100%;
  }
  .kid_desc {
    background: none !important;
    width: 100%;
    text-align: center;
  }
}
